@media(max-width: 375px){
    .container-mangas4{
        margin-top: 175px;
        margin-left: 0;
        width: 100vw;
        height: 2000px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        figure{
            padding-left: 0;
            margin-left: 20px;
            img{
                width: 114px;
                height: 165px;
                padding-right: 0;
            }
        }
    }
}