@media(max-width: 768px){
    .navbar{
        margin-left: 0px;
    }
    .bannernovelas{
        img{
            margin-left: 0;
        }
    }
    .container-mangas4{
        margin-left: 70px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    
    .footer{
        margin-left: 0;
        h3{
            padding-left: 10px;
        }
        ul{
            li{
                padding-left: 10px;
            }
        }
    }
    }
