@media(max-width: 1000px){
    .container-mangas{
        figcaption{
            font-size: 20px;
        }
    }
    .container-mangas2{
        figcaption{
            font-size: 20px;
            font-family: "slabo";
        }
    }

}