@media(max-width: 1440px){
    .navbar{
        margin-left: 0;
    }
    .banner{
        img{
            margin-left: 0;
        }
    }
    .container-mangas{
        margin-left: 0;
    }
    .editoriales{
        margin-left: 0;
    }
    .demografias{
        margin-left: 0;
    }
    .container-mangas2{
        margin-left: 0;
    }
    .footer{
        margin-left: 0;
    }
}