.container-mangas3{
    display: grid;
    margin-top: 15.625rem;
    grid-template-rows: repeat(3, 36.25rem);
    grid-template-columns: repeat(3, 18.75rem);
    margin-left: 500px;
    figure{
        img{
            width: 280px;
            height: 383px;
            padding-right: 20px;
        }
    }
    figure{
        a{
            text-decoration: none;
            color: black; 
            &:hover{
                color: rgba(26, 86, 170, 1);
                transition: 0.4s;
            }
        }
    }
    figure{
        figcaption{
            padding-top: 2px;
            
        }
        .btn{
            margin-top: 10px;
            background-color: #010608;
        }
    }
}
.bannermangas{
    img{
        width: 100%;
        margin-top: 3.125rem;
        margin-left: 30px;
    }
}
